.player-input {
    padding: 8px;
}

.back-elem {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.player-inputs {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
